.dropdown-parent {
  position: relative;
}

.dropdown-child {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease-in-out;
}

.dropdown-parent.open .dropdown-child {
  opacity: 1;
  pointer-events: auto;
}
